body {
  background-color: black;
}

h1 {
  color: green;
  text-align: center;
}

h2 {
  color: green;
  text-align: center;
}

h3 {
  color: green;
  text-align: center;
}

table.center {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}

td {
  text-align: center;
  color: green;
}

td.opponent-cell {
  width: 40px;
  height: 40px;
  border: 2px solid green;
}


td.player-cell {
  width: 40px;
  height: 40px;
  border: 2px solid green;
}

td.cellHeading {
  width: 40px;
  height: 20px;
}

div.instructions {
  text-align: center;
  border: 2px solid green;
  margin-left: auto;
  margin-right: auto;
  width: 500;
}

div.gameKey {
  text-align: center;
  border: 2px solid green;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

strong {
  color: green;
}

.miss {
  background-color: blue;
}

.hit {
  background-color: red;
}

.ship {
  background-color: green;
}

p {
  color: green;
}
