<html>
<head>
	<link rel="stylesheet" type="text/css" href="/static/css/create.css">
	<title>{% block title %}Battleship!{% endblock %}</title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
	<script>
		function listen_for_new(timestamp) {
			$.ajax("/game/pull/"+timestamp, { success:
				function(data, code, xhr) {
					for (var i=0; i<data.games.length; i++) {
						var game_id = data.games[i].id;
						$("#games_list").append($("<option></option>")
         					.attr("value", game_id).text(game_id));
					}
					listen_for_new(data.timestamp);
				}
			});
		}
		$(document).ready(function() { listen_for_new({{ timestamp }}); });
	</script>
</head>
<body>
	<h1>Battleship</h1>
	<h2>CSC 435 - Erlang</h2>
	<h3>By: Brandon Gottlob, Chris Hranj, Matt Judy, Tyler Povanda, Sean Clark</h3>

	{% block body %}

	<p><a href="{% url action="create" %}">New game...</a></p>

	<form method="post" action="{% url action="join" %}" >
		Join Game: 
		<select id="games_list" name="id">
			{% for game in games %}
				<option value="{{ game.id }}">{{ game.id }}
			{% endfor %}
		</select>
		<input type="submit" value="Join!">
	</form>

{% endblock %}

</body>
</html>
